<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
        <nav>
            <div class="show-nav">
            <a href="/products/new">ADD PRODUCT</a>
            <a href="/">HOME</a>
            </div>
        </nav>
    <h1>SALE!</h1>
        <div class="index-container">
        <% products.forEach((product)=>{%>
            <div>
                <div class="product-name"><%=product.name%></div>
                <a href="/products/<%=product._id%>"><img src="<%=product.img%>" alt="<%=product.name%>" class="index-a"></a>
            </div>  

       <% })%>
        </div>
</body>
</html>