<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <nav>
        <div class="show-nav">
            <a href="/products/<%=id%>/edit">EDIT</a>
            <div>
                <a href="/products">INDEX</a>
                <a href="/">HOME</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1><%=product.name%></h1>
        <p><%=product.description%></p>
        <img src="<%=product.img%>" alt="<%=product.name%>">
        <div>$<%=product.price%></div>
        <% if(product.qty <= 0){%>
            <div>OUT OF STOCK</div>
        <%}else {%>
            <div>Quantity: <%=product.qty%></div>
        <%}%>
        <% if(product.qty <= 0){%>
            <div>CANNOT BUY</div>
        <%} else {%>
            <form action="/products/buy/<%=id%>?_method=PUT" method="post">
                <input type="submit" class="positive" value="BUY">
            </form>
        <%}%>
            <form action="/products/<%=product._id%>?_method=DELETE" method="post">
                <input 
                class="delete" 
                type="submit" value="DELETE">
            </form>
    </div>
</body>
</html>